<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table tabelaPaciente">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Primeiro Nome:</th>
                        <th scope="col">Função:</th>
                        <th scope="col">Tempo na posição:</th>
                        <th scope="col">Exames:</th>
                        <th scope="col">Posição:</th>
                        <th scope="col">Operações:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>João Vitor</td>
                        <td>Executor</td>
                        <td>90 minutos</td>
                        <td>Audiometria</td>
                        <td>23</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>