.botao-atualizar{
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  background-color: #53b800;
  display:inline-block;
  padding: 10.5px;
  border-radius: 100%;
  border: transparent;
  width: auto;
  margin-right: 10px;
}
.tooltip-custom-class {
  font-size: 13px;
}
.head-text-style{
  background-color:#003334 ;
}
.mat-row:nth-child(even){
  background-color:rgb(240, 240, 240);
}
.mat-row:nth-child(odd){
  background-color:rgb(255, 255, 255);
}
.paginator-style{
  position:sticky;
}
.div-style{
  border-bottom: 1px solid rgb(209, 209, 209);
  background-color: white;
  border-right: 1px solid rgb(209, 209, 209);
  border-left: 1px solid rgb(209, 209, 209)
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 16px;
  }
  ::-webkit-scrollbar-track-piece {
    background-color: transparent;
    -webkit-border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: #003334;
    -webkit-border-radius: 3px;
  }
.operation_img{
  width: 15px ;
}
.operation_button button,
.operation_button a{
  margin: 0 !important;
  padding: 5px !important;
  min-width: 30px !important;
}
.operation_button{
  display: flex;
}
.botao-cadastar{
  border-radius: 100%;
  border: transparent;
  background-color: transparent ;
  padding-right: 4px;
  display:inline-flex;
  padding-bottom: 15px ;
}
.mat-fab{
background-color: #53b800;
}

.open-close-button {
display: flex;
width:  0.90em;
height: 0.90em;
border: 16px solid transparent;
top: 12px;
font-size: 65px;
border-radius: 50%;
position: relative;
-moz-transition: 0.5s;
-o-transition: 0.5s;
-webkit-transition: 0.5s;
transition: 0.5s;
-moz-transform: translateZ(0);
-webkit-transform: translateZ(0);
transform: translateZ(0);
}
.open-close-button:before {
content: "";
display: block;
position: absolute;
background-color: white;
width: 80%;
height: 6%;
left: 10%;
top: 47%;
}
.open-close-button:after {
content: "";
display: block;
position: absolute;
background-color: white;
width: 6%;
height: 80%;
left: 47%;
top: 10%;
}
.open-close-button.open {
background-color: #c9353b;
-moz-transform: rotate(225deg);
-ms-transform: rotate(225deg);
-webkit-transform: rotate(225deg);
transform: rotate(225deg);
}
.open-close-button.open:after {
background-color: #f7f5f5;
}
.open-close-button.open:before {
background-color: #f7f5f5;
}

