<main>
        <div class="row" >
            <div class="col-md-12 bodyCadastro" >
                <form [formGroup]="formularioNovaEspecialidade" (ngSubmit)="createEspecialidade()">
                    <div class="form-group row">
                        <div class="col-md-6 mx-auto">
                            <mat-form-field>
                                <input  
                                    type="text" 
                                    id="nomeEspecialidade" 
                                    name="nomeEspecialidade" 
                                    placeholder="Nome" 
                                    autocomplete="off" 
                                    maxlength="50" 
                                    formControlName="nomeEspecialidade" 
                                    matInput 
                                />
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 mx-auto">
                            <mat-form-field>
                                <textarea
                                    type="text" 
                                    id="descricao" 
                                    name="descricao" 
                                    placeholder="Descrição" 
                                    autocomplete="off"
                                    formControlName="descricao" 
                                    matInput 
                                ></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <mat-progress-bar *ngIf="executandoRequisicao"
                                class="example-margin"
                                color="accent"
                                mode="query">
                            </mat-progress-bar>
                        </div>
                        <div class="col-md-4">
                            <button mat-raised-button type="reset" class="m-1"> Limpar </button>
                            <button mat-raised-button style="background-color: #53b800;color: white;" type="submit"  class="m-1"> Concluir </button>
                        </div>
                    </div>
                </form>
                <br>
            </div>
        </div>
    </main>