<h1 mat-dialog-title style="text-align: center">
    {{acaoModal}} Médico
</h1>

<div mat-dialog-content *ngIf="acaoModal!=='DELETAR'">
    <form [formGroup]="formularioMedico" *ngIf="formularioMedico" (ngSubmit)="editarMedico()">
        <div class="form-group row">
            <div class="col-md-12">

                <input type="hidden" id="codigoMedico" name="codigoMedico" formControlName="codigo" />

                <mat-form-field>
                    <input type="text" id="nomeMedico" name="nomeMedico" placeholder="Nome" autocomplete="off"
                        maxlength="50" formControlName="nome" matInput />
                </mat-form-field>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">

                <mat-form-field>
                    <input type="text" id="crm" name="crm" placeholder="crm" autocomplete="off" maxlength="50"
                        formControlName="crm" matInput />
                </mat-form-field>
            </div>
            <div class="col-md-6">

                <mat-form-field>
                    <input type="text" id="cpf" name="cpf" placeholder="cpf" autocomplete="off" maxlength="50"
                        formControlName="cpf" matInput />
                </mat-form-field>
            </div>
        </div>
        <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>Especialidades</strong>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-especialidades-panel></app-especialidades-panel>
                </mat-expansion-panel>
            </mat-accordion>
        <div class="row">
            <div class="col-md-8 pt-4">
                <mat-progress-bar *ngIf="executandoRequisicao" class="example-margin" color="accent" mode="query">
                </mat-progress-bar>
            </div>
            <div class="col-md-4">
                <!-- <button mat-raised-button *ngIf="acaoModal=='DELETAR'" color="accent" class="m-2" click)="toggleMode('DELETAR')" type="button" > Deletar </button> -->
                <button mat-raised-button *ngIf="acaoModal==='EDITAR'" color="accent" class="m-2" type="submit">
                    Concluir </button>
                <button mat-raised-button *ngIf="acaoModal==='VISUALIZAR'" color="accent" class="m-2"
                    (click)="toggleMode('EDITAR')" type="button"> Editar </button>
                <button mat-raised-button class="mx-auto" (click)="onNoClick()" type="button"> Fechar </button>
            </div>
        </div>
    </form>
</div>

<div mat-dialog-content *ngIf="acaoModal=='DELETAR'">
    <p>
        Esta ação é <strong>irreversível</strong>! <br>
        Deseja prosseguir com a exclusão?
    </p>
</div>
<div mat-dialog-actions *ngIf="acaoModal=='DELETAR'" class="row">
    <button mat-raised-button color="warn" class="mx-auto" (click)="deletarMedico()" type="button"> Confirmar </button>
    <button mat-raised-button class="mx-auto" (click)="onNoClick()" type="button"> Fechar </button>
</div>