<main style="min-height: 500px;">
        <mat-form-field style="width: 81%;padding-right:25px;padding-left:25px;">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Faça sua pesquisa aqui (Nome , CNPJ ou Tipo de Pagamento) . . .">
        </mat-form-field>

        <button class="botao-atualizar" matTooltip="Atualizar lista de Empresas" matTooltipPosition="before" matTooltipClass="tooltip-custom-class" (click)="Alert_att()" (click)="carregarDadosTabela()"><img src="../../../assets/img/refresh.png" alt="Atualizar"></button>
        <div class="botao-cadastar" matTooltip="Cadastrar Nova Empresa" matTooltipPosition="after" matTooltipClass="tooltip-custom-class" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="Cadastrar Nova Empresa">
            <button mat-fab type="button" class="open-close-button" data-toggle="collapse" data-target="#Nova-Empresa" aria-expanded="false" aria-controls="collapseExample"></button>
        </div>
        <div class="collapse" style="margin-bottom: 30px;" id="Nova-Empresa">
            <div class="card">
                <app-nova-empresa></app-nova-empresa>
            </div>
        </div>
    <div class="div-style">
        <table mat-table [dataSource]="dataSource">

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th class="head-text-style" [hidden]="1" mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell [hidden]="1" *matCellDef="let row"> {{row.codEmpresa}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th class="head-text-style" mat-header-cell *matHeaderCellDef style="padding-left: 3% ;width: 19%"> Nome </th>
                <td mat-cell style="padding-left: 3% " *matCellDef="let row"> {{row.nome}} </td>
            </ng-container>

            <!-- CNPJ Column -->
            <ng-container matColumnDef="cnpj">
                <th class="head-text-style" mat-header-cell *matHeaderCellDef style="width: 15% ;"> CNPJ </th>
                <td mat-cell *matCellDef="let row"> {{row.cnpj}} </td>
            </ng-container>

            <!-- Telephones Column -->
            <ng-container matColumnDef="telefones">
                <th class="head-text-style" mat-header-cell *matHeaderCellDef style="width: 12%"> Telefone/Celular </th>
                <td mat-cell *matCellDef="let row"> 
                    <span *ngIf="row.telefone1"> {{row.telefone1}} </span> <br>
                    <span *ngIf="row.telefone2"> {{row.telefone2}} </span> 
                </td>
            </ng-container>

            <!-- Payment Column -->
            <ng-container matColumnDef="payment">
                <th class="head-text-style" mat-header-cell *matHeaderCellDef style="width: 11%"> Tipo de pagamento </th>
                <td mat-cell *matCellDef="let row"> 
                    {{ row.tipoPgto }}
                </td>
            </ng-container>

            <!-- Operations Column -->
            <ng-container matColumnDef="operations" style="width: 100%;">
                <th class="head-text-style" mat-header-cell *matHeaderCellDef style="width: 1%;"> Operações </th>
                <td mat-cell *matCellDef="let row">
                    <div class="operation_button">
                        <button mat-button (click)="visualizar(row.codEmpresa)" >
                            <img class="operation_img" src="../../assets/img/list.svg">
                        </button>
                        <button mat-button (click)="editar(row.codEmpresa)">
                            <img class="operation_img" src="../../assets/img/pencil.svg">
                        </button>
                        <!-- <button mat-button (click)="deletar(row.codEmpresa)">
                            <img class="operation_img"src="../../assets/img/trash.svg">
                        </button> -->
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator  class="paginator-style" [pageSizeOptions]="[6, 10, 20, 30]"></mat-paginator>
    </div>
</main>