<main>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Digite aqui seu filtro...">
    </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="codConsulta">
                <th mat-header-cell *matHeaderCellDef > ID </th>
                <td mat-cell *matCellDef="let row"> {{row.codConsulta}} </td>
            </ng-container>

            <ng-container matColumnDef="dataHora">
                <th mat-header-cell *matHeaderCellDef > Data da consulta </th>
                <td mat-cell *matCellDef="let row"> {{row.dataHora| date: 'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="inicio">
                <th mat-header-cell *matHeaderCellDef > Início </th>
                <td mat-cell *matCellDef="let row"> {{row.inicio| date: 'dd/MM/yyyy hh:mm:ss'}} </td>
            </ng-container>

            <ng-container matColumnDef="termino">
                <th mat-header-cell *matHeaderCellDef > Término </th>
                <td mat-cell *matCellDef="let row"> {{row.termino| date: 'dd/MM/yyyy hh:mm:ss'}} </td>
            </ng-container>

            <ng-container matColumnDef="validade">
                <th mat-header-cell *matHeaderCellDef > Validade </th>
                <td mat-cell *matCellDef="let row"> {{row.validade}} </td>
            </ng-container>

            <ng-container matColumnDef="tipo_consulta">
                <th mat-header-cell *matHeaderCellDef > Tipo de consulta </th>
                <td mat-cell *matCellDef="let row"> {{row.tipo_consulta}} </td>
            </ng-container>

            <ng-container matColumnDef="nome_paciente">
                <th mat-header-cell *matHeaderCellDef > Nome paciente </th>
                <td mat-cell *matCellDef="let row"> {{row.nome_paciente}} </td>
            </ng-container>

            <ng-container matColumnDef="nome_empresa">
                <th mat-header-cell *matHeaderCellDef > Nome empresa </th>
                <td mat-cell *matCellDef="let row"> {{row.nome_empresa}} </td>
            </ng-container>
            
            <ng-container matColumnDef="operations">
                <th mat-header-cell *matHeaderCellDef style="width: 15%">  </th>
                <td mat-cell *matCellDef="let row">
                    <button mat-button (click)="visualizar(row.codConsulta)" >
                        <img src="../../assets/img/list.svg" style="height: 15px;pointer-events: none;">
                    </button>
                    <button mat-button (click)="editar(row.codConsulta)">
                        <img src="../../assets/img/pencil.svg" style="height: 14px;">
                    </button>
                    <button mat-button (click)="deletar(row.codConsulta)">
                        <img src="../../assets/img/trash.svg" style="height: 15px;">
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>

    <mat-paginator [pageSizeOptions]="[5, 10,20, 30]"></mat-paginator>
    </div>
</main>