<form [formGroup]="formularioDados" (ngSubmit)="loginUser()">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="../../assets/img/Logo.png">
            </div>
        </div>
        <div>
            <input class="inputLabmed" formControlName="login" type="text" autocomplete="off" placeholder="Username" id="username">
        </div>
        <div>
            <input formControlName="senha" class="inputLabmed" type="password" autocomplete="off" placeholder="Password" id="password">
        </div>
    </div>
    <div class="row">
         <div>
            <button class="btnSubmit" type="submit" id="submit">Submit</button>
        </div>
    </div>
</form>