<main>
    <div class="row" style="margin:0px ;margin-left:0;margin-right:0;padding: 0px;margin-top: 20px;">
        <h5 style="margin-left:20px ;"> Preencha todos os campos para cadastrar o novo paciente :</h5>
        <div class="col-md-12 bodyCadastro">
            <form [formGroup]="formularioNovoPaciente" (ngSubmit)="createPaciente()">
                <div class="form-group row">
                    <div class="col-md-4">
                        <mat-form-field style="width: 225px;">
                            <input  
                                type="text" 
                                id="nomePaciente" 
                                name="nomePaciente" 
                                placeholder="Nome do paciente" 
                                autocomplete="off" 
                                maxlength="50" 
                                formControlName="nome" 
                                matInput 
                            />
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field style="width: 150px;">
                            <input 
                                type="text" 
                                id="cpfPaciente" 
                                name="cpfPaciente" 
                                placeholder="CPF" 
                                autocomplete="off" 
                                maxlength="18" 
                                formControlName="cpf" 
                                matInput
                            />
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field style="width: 150px;">
                            <input 
                                type="text" 
                                id="rgPaciente" 
                                name="rgPaciente" 
                                placeholder="RG"
                                autocomplete="off" 
                                maxlength="80" 
                                formControlName="rg" 
                                matInput
                            />
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field style="width: 50px;">
                            <input 
                                type="text" 
                                id="sexoPaciente" 
                                name="sexoPaciente" 
                                placeholder="Sexo"
                                autocomplete="off"
                                maxlength="1"
                                formControlName="sexo" 
                                matInput
                            />
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group row" style="margin-top: 0px;padding-top: 0px;">
                    <div class="col-md-3">
                        <mat-form-field style="width: 150px;"> 
                            <input 
                                type="date" 
                                id="nascimentoPaciente" 
                                name="nascimentoPaciente" 
                                placeholder="Data de nascimento"
                                autocomplete="off" 
                                maxlength="10" 
                                formControlName="nascimento" 
                                matInput
                            />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <mat-progress-bar *ngIf="executandoRequisicao"
                            class="example-margin"
                            color="accent"
                            mode="query">
                        </mat-progress-bar>
                    </div>
                    <div class="col-md-4">
                        <mat-progress-bar *ngIf="executandoRequisicao"
                            class="example-margin"
                            color="accent"
                            mode="query">
                        </mat-progress-bar>
                    </div>
                    <div class="col-md-4">
                        <button mat-raised-button type="reset" class="mx-2"> Limpar </button>
                        <button mat-raised-button style="background-color: #53b800;color: white;" type="submit"  class="m-1"> Concluir </button>
                    </div>
                </div>
            </form>
            <br>
        </div>
    </div>
</main>
