<main>
    <div class="row" style="margin-left:0;margin-right:0">
        <div class="col-md-10 offset-md-1 p-4 mt-5 mat-elevation-z8 bodyCadastro">
            <h2> Cadastrar Novo Profissional </h2>

            <form [formGroup]="formularioNovoProfissional" (ngSubmit)="createProfissional()">
                <div class="form-group row">
                    <div class="col-md-12">
                        <mat-form-field>
                            <input type="text" 
                                id="nome" name="nome" 
                                placeholder="Nome" 
                                autocomplete="off"
                                maxlength="70" 
                                formControlName="nome" matInput />
                        </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field>
                            <input type="text" 
                                id="cpf" name="cpf" 
                                placeholder="CPF" 
                                autocomplete="off"
                                maxlength="70" 
                                formControlName="cpf" matInput />
                        </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field>
                            <input type="text" 
                                id="identificacao" name="identificacao" 
                                placeholder="identificacao" 
                                autocomplete="off"
                                maxlength="70" 
                                formControlName="identificacao" matInput />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 pt-4">
                        <mat-progress-bar *ngIf="executandoRequisicao" class="example-margin" color="accent"
                            mode="query">
                        </mat-progress-bar>
                    </div>
                    <div class="col-md-3 offset-md-1">
                        <button mat-raised-button type="reset" class="m-2"> Limpar </button>
                        <button mat-raised-button color="accent" type="submit" class="m-2"> Concluir </button>
                    </div>
                </div>
            </form>
            <br>
        </div>
    </div>
</main>