
<main style="min-height: 500px;padding-top: 20px;">
  <mat-form-field style="width: 75%;padding-left: 13%;">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Faça sua pesquisa aqui (Nome do paciente , Nome da empresa ou Tipo de consulta ) . . .">
  </mat-form-field>

  <button mat-button matTooltip="Atualizar lista de consultas" matTooltipPosition="after" matTooltipClass="tooltip-custom-class" (click)="carregarDadosTabela()" (click)="Alert_att()" style="margin-left:2.5%;"><img id="refresh" src="assets/img/refresh.png" class="material-icons"></button>

  <div class="div-style">
  <table mat-table [dataSource]="dataSource">

      <!-- ID Estado Column -->
      <ng-container matColumnDef="codEstado">
          <th class="head-text-style" mat-header-cell *matHeaderCellDef style="width: 12%"> Estado </th>
          <td mat-cell *matCellDef="let row"><div class="box {{row.cor}}"></div></td>
      </ng-container>


      <!-- Pacient nome Column -->
      <ng-container matColumnDef="paciente">
          <th class="head-text-style" mat-header-cell *matHeaderCellDef style="width: 19%"> Nome </th>
          <td mat-cell  *matCellDef="let row"> {{row.paciente}} </td>
      </ng-container>

      <!-- Empresa nome Column -->
      <ng-container matColumnDef="empresa">
          <th class="head-text-style" mat-header-cell *matHeaderCellDef style="width: 15% ;"> Empresa </th>
          <td mat-cell *matCellDef="let row"> {{row.empresa}} </td>
      </ng-container>

      <!-- Horario Column -->
      <ng-container matColumnDef="dataHora">
          <th class="head-text-style" mat-header-cell *matHeaderCellDef style="width: 12%"> Dia/Horario </th>
          <td mat-cell *matCellDef="let row"> {{row.dataHora}} </td> 
      </ng-container>

      <!-- Tipo de Consulta  Column -->
      <ng-container matColumnDef="tipo_consulta">
          <th class="head-text-style" mat-header-cell *matHeaderCellDef style="width: 11%"> Tipo de consulta </th>
          <td mat-cell *matCellDef="let row"> 
              {{ row.tipo_consulta }}
          </td>
      </ng-container>

      <!-- Operations Column -->
      <ng-container matColumnDef="operations" >
          <th class="head-text-style" mat-header-cell *matHeaderCellDef style="width: 1%;"> </th>
          <td mat-cell *matCellDef="let row">
              <div class="operation_button">
                  <button class="button_exames"  >
                      <img class="img_exames" (click)="visualizar(row.codConsulta)"src="assets/img/listExames.svg">
                  </button>
                  <!--<button mat-button (click)="editar(row.codEmpresa)">
                      <img class="operation_img" src="../../assets/img/pencil.svg">
                  </button> 
                  <button mat-button (click)="deletar(row.codEmpresa)">
                      <img class="operation_img"src="../../assets/img/trash.svg">
                  </button> -->
              </div>
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator  class="paginator-style" [pageSizeOptions]="[10, 20, 30, 50]"></mat-paginator>
</div>
<div>
    <img (click)="modalCatalogo()" class="question-mark" src="assets/img/question.svg"/>
</div>
</main>