* {
    --primaryColor:#003334;
    --secondaryColor:#94fe00;
    --tertiaryColor:#ffc600;
    --tertiaryColor:#ffc600;
    --backColor:#f1f1f1;
}
thead{
    background-color: var(--primaryColor);
    color: white;
}
th{
    color: white !important ;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.modal {
    z-index:900 !important;
}
.modal-backdrop {
    z-index: 800 !important;
}