<form class="example-form" [formGroup]="formularioExamesFuncao"  (ngSubmit)="createExamesFuncao()">
   
    <div class="col-auto my-3" style="border-radius: 5px; padding: 5px ; background-color: rgba(24, 134, 99, 0.288)">
        <h6 >Atividades:</h6>
        <div *ngFor="let exame of exames" >
            <input formControlName="codExames"  type="checkbox"  value="{{exames.codExame}}" />
            <label >{{exame.nome}} </label>
        </div> 
    </div>
    <div class="modal-footer">
            <button mat-raised-button type="reset" class="m-1"> Limpar </button>
            <button mat-raised-button style="background-color: #53b800;color: white;" type="submit"  class="m-1"> Concluir </button>
    </div>
</form>