<main>
    <div class="container bodyView">
        <div class="row">
            <div class="col-md-10">
                <input type="text" class="form-control inpForm" [(ngModel)]='dataInput' placeholder="Digite aqui o termo a ser buscado...">
            </div>
            <div class="col-md-2">
                <a routerLink="/pacientes/nova" class="btn btn-success mx-auto">Cadastrar</a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Nome </th>
                                <th> CPF </th>
                                <th> RG </th>
                                <th> Sexo </th>
                                <th> Nascimento </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let paciente of pacientes | pacientes: dataInput">
                                <td>{{paciente.codPaciente}}</td>
                                <td>{{paciente.nome}}</td>
                                <td>{{paciente.cpf}}</td>
                                <td>{{paciente.rg}}</td>
                                <td>{{paciente.sexo}}</td>
                                <td>{{paciente.nascimento}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
