<main style="min-height: 500px;">
        <mat-form-field style="width: 90%;padding-right:25px;padding-left:25px;">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Faça sua pesquisa aqui (Nome , Código ou Preço) . . .">
        </mat-form-field>

        <button class="botao-cadastar" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="Cadastrar Novo Exame">
            <button mat-fab type="button" class="open-close-button" data-toggle="collapse" data-target="#Novo-Exame" aria-expanded="false" aria-controls="collapseExample"></button>
        </button>

        <div class="collapse" style="margin-bottom: 30px;" id="Novo-Exame">
            <div class="card">
                <app-novo-exame></app-novo-exame>
            </div>
        </div>

        <div class="div-style">
            <table mat-table [dataSource]="dataSource">
    
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th class="head-text-style" mat-header-cell *matHeaderCellDef style="width: 15%"> Nome </th>
                    <td mat-cell *matCellDef="let row"> {{row.nome}} </td>
                </ng-container>
    
                <!-- Description Column -->
                <ng-container matColumnDef="descricao">
                    <th class="head-text-style" mat-header-cell *matHeaderCellDef style="width: 28%"> Descrição </th>
                    <td mat-cell *matCellDef="let row" style="text-align:justify;overflow-x: scroll;white-space: nowrap;max-width: 1vw"> {{row.descricao}} </td>
                </ng-container>
    
                <!-- Code Column -->
                <ng-container matColumnDef="codigo">
                    <th class="head-text-style" mat-header-cell *matHeaderCellDef style="width: 10%;padding-left: 15px !important"> Código </th>
                    <td mat-cell *matCellDef="let row" style="padding-left: 15px !important"> {{row.codigo}} </td>
                </ng-container>
    
                <!-- Price Column -->
                <ng-container matColumnDef="preco">
                    <th class="head-text-style" mat-header-cell *matHeaderCellDef style="width: 8% ;padding-left: 5px !important"> Preço </th>
                    <td mat-cell *matCellDef="let row">R${{row.preco | number:'.2-2'}} </td>
                </ng-container>
    
                <!-- Operations Column -->
                <ng-container matColumnDef="operations">
                    <th class="head-text-style" mat-header-cell *matHeaderCellDef style="width: 1%;"> Operações </th>
                    <td mat-cell *matCellDef="let row">
                        <div class="operation_button">
                            <button mat-button (click)="visualizar(row.codExame)" >
                                <img  class="operation_img" src="../../assets/img/list.svg">
                            </button>
                            <button mat-button (click)="editar(row.codExame)">
                                <img  class="operation_img" src="../../assets/img/pencil.svg">
                            </button>
                            <!-- <button mat-button (click)="deletar(row.codExame)">
                                <img  class="operation_img" src="../../assets/img/trash.svg">
                            </button> -->
                        </div>
                    </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
            <mat-paginator  class="paginator-style"  [pageSizeOptions]="[6, 10, 20, 30]"></mat-paginator>
        </div>
    </main>