<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 offset-md-3">
                <div class="displayDados">
                    <h5 class="boxDadosH">Nome:</h5>
                    <h5 style="margin-top:5%;" class="boxDadosH">Crm:</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 offset-md-3">
                <h5 class="boxDadosH5">Digite o id do paciente:</h5>
                <form (ngSubmit)="searchId()" [formGroup]="formularioPaciente" >
                    <div class="form-group">
                      <input type="number" formControlName="idPaciente" class="form-control" id="email">
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-4 offset-md-2">
                            <button style="margin-left:7%;" class="buttonHome">Iniciou</button>
                          </div>
                          <div class="col-md-4">
                            <button class="buttonHome">Terminou</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12 offset-md-3">
            <div class="boxSelect">
              <label class="labelSelect">Falta fazer:</label>
              <div class="selectEstilizado">
                  <select>
                    <option>Audiometria</option>
                    <option>ECG</option>
                  </select>
                </div>
            </div>
          </div>
        </div>
    </div>
</section>