.displayDados{
    width: 45%;
    border: 2px solid #003334;
    padding: 2%;
    border-radius:10px;
    margin-top: 4%;
    margin-left:3%;
}
.boxDadosH{
    color:#003334;
}
.boxDadosH5{
    color:#003334;
    margin-top:3%;
    margin-left:3%;
}
form{
    width:45%;
    margin-top:2%;
    margin-left:3%;
}
input{
    border-radius:10px;
    border:2px solid #003334;
}
.buttonHome{
    margin-top:6%;
    border-radius:10px;
    background-color:#003334;
    color:white;
    border:1px solid #003334;
    outline:none;
    width: 80%;
    height:80%;
}
/*------------------Select--------------------------*/
.boxSelect{
    margin-top:5%;
    margin-left:3%;
}
.labelSelect{
    font-size:1.2em;
    color:#003334;
    float:left;
}
.selectExames{
    margin-left:1%;
    position: relative;
}
.selectEstilizado {
    background: url("../../assets/img/arrow.png") no-repeat 96% 0;
    height: 29px;
    overflow: hidden;
    margin-left:8%;
    border:1px solid #003334;
    margin-left:10%;
    width: 200px;
 }
 .selectEstilizado select {
    background: transparent;
    border: none;
    font-size:1.1em;
    color:#003334;
    height: 29px;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    width: 268px;
 }