<main>
    <div class="row" style="margin:0px ;margin-left:0;margin-right:0;padding: 0px;margin-top: 20px;">
        <h6 style="margin-left:20px ;">insira o nome da empresa para cadastrar :</h6>
        <div class="col-md-12 bodyCadastro">
            <form [formGroup]="formularioNovaEmpresa" (ngSubmit)="createEmpresa()">
                <div class="form-group row">
                    <div class="col-md-4">
                        <mat-form-field style="width: 300px;">
                            <input type="text" id="nomeEmpresa" name="nomeEmpresa" placeholder="Nome" autocomplete="off"
                                formControlName="nome" matInput />
                        </mat-form-field>
                        <mat-form-field style="width: 300px;">
                            <input type="text" id="cnpjEmpresa" name="cnpjEmpresa"   placeholder="CNPJ" autocomplete="off"
                                formControlName="cnpj" maxlength="18"  onkeypress="mascara(this, '##.###.###/####-##')" matInput />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <mat-progress-bar *ngIf="executandoRequisicao" class="example-margin" color="accent"
                            mode="query">
                        </mat-progress-bar>
                    </div>
                    <div class="col-md-2">
                        <mat-progress-bar *ngIf="executandoRequisicao" class="example-margin" color="accent"
                            mode="query">
                        </mat-progress-bar>
                    </div>
                    <div class="col-md-8">
                        <button mat-raised-button type="reset" class="mx-1"> Limpar </button>
                        <button mat-raised-button style="background-color: #53b800;color: white;" type="submit"
                            class="m-1"> Concluir </button>
                    </div>
                </div>
            </form>
            <br>
        </div>
    </div>
</main>