<main>
    <div class="container bodyView">
        <div class="row">
            <div class="col-md-8 offset-md-2 mt-5 bodyCadastro">
                <h2> Cadastrar Novo Exame </h2>
                <form>
                    <div class="form-group">
                        <label class="labelForm" for="nomeExame"> Nome do Exame: </label>
                        <input type="text" class="form-control inpForm" id="nomeExame" name="nomeExame" placeholder="Digite aqui o nome da exame...">
                    </div>
                    <div class="form-group">
                        <label class="labelForm" for="descricaoExame"> Descrição do Exame: </label>
                        <textarea type="text" class="form-control inpForm" rows="7" id="descricaoExame" name="descricaoExame" placeholder="Digite aqui a descrição do exame..."></textarea>
                    </div>
                    <div class="form-group">
                        <label class="labelForm" for="precoExame"> Preço do Exame: </label>
                        <input type="number" class="form-control inpForm" rows="7" id="precoExame" name="precoExame" placeholder="Digite aqui a descrição do exame...">
                    </div>

                    <input type="reset" class="btn btn-secondary m-2" value="Limpar">
                    <button type="button" class="btn btn-success m-2" id="cadastrarEmpresa"> Concluir </button>
                </form>
            </div>
        </div>
    </div>
</main>
