
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link " id="home-tab" data-toggle="tab" href="#tabelaInicio" role="tab" aria-controls="home" aria-selected="true">Início</a>
    </li>
    <li class="nav-item " >
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Agendados</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Pré-Agendar</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tabelaInicio" role="tabpanel" aria-labelledby="home-tab">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table tabelaPaciente">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Primeiro Nome:</th>
                                <th scope="col">Função:</th>
                                <th scope="col">Tempo na posição:</th>
                                <th scope="col">Exames:</th>
                                <th scope="col">Posição:</th>
                                <th scope="col">Operações:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>João Vitor</td>
                                <td>Executor</td>
                                <td>90 minutos</td>
                                <td>Audiometria</td>
                                <td>23</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
