<main>
    <div class="container bodyView">
        <div class="row">
            <div class="col-md-8 offset-md-2 mt-5 bodyCadastro">
                <h2> Cadastrar Nova Empresa </h2>
                <form>
                    <div class="form-group">
                        <label class="labelForm" for="nomeEmpresa"> Nome da Empresa: </label>
                        <input type="text" class="form-control inpForm" id="nomeEmpresa" name="nomeEmpresa" placeholder="Digite aqui o nome da empresa...">
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label class="labelForm" for="cnpjEmpresa"> CNPJ: </label>
                            <input type="text" class="form-control inpForm" id="cnpjEmpresa" name="cnpjEmpresa" placeholder="Digite aqui o CNPJ da empresa...">
                        </div>
                        <div class="col-md-6">
                            <label class="labelForm" for="telefoneEmpresa"> Telefone: </label>
                            <input type="text" class="form-control inpForm" id="telefoneEmpresa" name="telefoneEmpresa" placeholder="Digite aqui o telefone da empresa...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="labelForm" for="pgtoEmpresa"> Tipo de Pagamento: </label>
                        <select class="form-control inpForm" id="pgtoEmpresa" name="pgtoEmpresa">
                            <option value="0"> À vista </option>
                            <option value="1"> Fatura </option>
                        </select>
                    </div>

                    <input type="reset" class="btn btn-secondary m-2" value="Limpar">
                    <button type="button" class="btn btn-success m-2" id="cadastrarEmpresa"> Concluir </button>
                </form>
            </div>
        </div>
    </div>
</main>
