<main>
    <div class="row" style="margin:0px ;margin-left:0;margin-right:0;padding: 0px;margin-top: 20px;">
        <h5 style="margin-left:20px ;"> Preencha todos os campos para cadastrar a nova sala :</h5>
        <div class="col-md-12 bodyCadastro">
            <form [formGroup]="formularioNovaSala" (ngSubmit)="createSala()">
                <div class="form-group row">
                    <div class="col-md-6">
                        <mat-form-field style="width: 300px; margin-top: 15px;">
                            <input  
                                type="text" 
                                id="nomeRisco" 
                                name="nomeRisco" 
                                placeholder="Nome da sala..." 
                                autocomplete="off" 
                                formControlName="nome" 
                                matInput 
                            />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field style="width: 300px;">
                            <textarea
                                type="text" 
                                id="nomeRisco" 
                                name="nomeRisco" 
                                placeholder="Descrição da sala.." 
                                autocomplete="off" 
                                formControlName="descricao" 
                                matInput 
                            ></textarea>
                        </mat-form-field>
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <mat-progress-bar *ngIf="executandoRequisicao"
                            class="example-margin"
                            color="accent"
                            mode="query">
                        </mat-progress-bar>
                    </div>
                    <div class="col-md-4">
                        <mat-progress-bar *ngIf="executandoRequisicao"
                            class="example-margin"
                            color="accent"
                            mode="query">
                        </mat-progress-bar>
                    </div>
                    <div class="col-md-4">
                        <button mat-raised-button type="reset" class="mx-2"> Limpar </button>
                        <button mat-raised-button style="background-color: #53b800;color: white;" type="submit"  class="m-1"> Concluir </button>
                    </div>
                </div>
            </form>
            <br>
        </div>
    </div>
</main>