* {
    --primaryColor: #003334;
    --secondaryColor: #94fe00;
    --tertiaryColor: #ffc600;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card {
    margin-top: 3%;
    width: 60rem;
    text-align: justify;
}
.card-title {
    text-align: center;
    color: var(--primaryColor) !important;
}
.h5Card,
h6 {
    color: var(--primaryColor) !important;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}
/* span {
    font-size: 1.3em;
    font-weight: bold;
    color: var(--primaryColor) !important;
} */

.button_time_control {
    background: none;
    outline: none;
    border: none;
    height: 35px;
    width: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    transition: all 0.15s linear;
}

.button_time_control:hover {
    transform: scale(1.2);
}

.imgStart,
.imgStop {
    width: 40%;
    height: 45%;
    padding: 2%;
}
.buttonStop {
    background-color: var(--primaryColor) !important;
    /* width: 10%; */
    display: block;
    margin: 0 auto;
    border: 1px solid var(--primaryColor);
    border-radius: 10px;
    outline: none;
}

.time_wrapper {
    display: flex;
}

/************************ Tipografia *************************/
.info_label {
    font-size: 1.2em;
    font-weight: 500;
}

.info_title {
    text-align: center;
    margin-bottom: 20px;
}

.time_label {
    margin: auto; /* Important */
    text-align: center;
}
