<mat-sidenav-container *ngIf="salaSelecionada">
    <mat-sidenav mode="over" [(opened)]="opened">
        <div id="sala-info" class="sidenav-block">
            <h3>{{ salaSelecionada.nome }}</h3>
            <hr />
            <div class="sala-info-exame" *ngFor="let exame of salaSelecionada.exames">
                {{ exame.nome }}
            </div>
        </div>

        <div class="sidenav-block">
            <div id="top-input">
                <div id="search">
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)"
                            placeholder="Digite aqui seu filtro..." autocomplete="off" />
                    </mat-form-field>
                </div>

                <div id="reload">
                    <button mat-button (click)="ngOnInit()">
                        <img src="assets/img/reload.png" style="height: 15px;pointer-events: none;" />
                    </button>
                </div>
            </div>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <!-- Name Column -->
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef style="width: 95%">
                        Nome:
                    </th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.paciente }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="operations">
                    <th mat-header-cell *matHeaderCellDef style="width: 5%"></th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-button (click)="iniciar(row)">
                            <img src="assets/img/list.svg" style="height: 15px;pointer-events: none;" />
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <header>
            <nav class="navbar">
                <button id="botaoToggler" type="button" (click)="toggle()">
                    <span class="sidenav-toggler-icon">
                        <img id="imgToggler" src="assets/img/menuIcone.png" />
                    </span>
                </button>
                <span class="nav-title"> EXAMES </span>
                <button id="botaoLogout" type="button" (click)="logout()">

                    <span>
                        <img id="imgLogout" src="assets/img/logout.png" />
                    </span>
                </button>
            </nav>
        </header>

        <div style="height: 88vh;">
            <div *ngIf="router.url === '/exames'" class="intro_message">
                <img src="assets/img/logo.png" alt="Logo LabMed" />
                Seja bem-vindo! <br />
                Selecione uma consulta no Menu Lateral.
            </div>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
