<main>
    <div class="row" style="margin-left:0;margin-right:0">
        <div class="col-md-10 offset-md-1 p-4 mt-5 mat-elevation-z8 bodyCadastro">
            <h2> Cadastrar Novo Subgrupo </h2>

            <form [formGroup]="formularioNovoSubgrupo" (ngSubmit)="createSubgrupo()">
                <div class="form-group row">
                    <div class="col-md-12">
                        <mat-form-field>
                            <input
                                type="text"
                                id="nomeSubgrupo"
                                name="nomeSubgrupo"
                                placeholder="Nome"
                                autocomplete="off"
                                maxlength="50"
                                formControlName="nome"
                                matInput
                            />
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <mat-form-field class="inputForms" style="width: 80%;">
                            <input formControlName="funcao" (click)="filtrarFuncao()" type="text" placeholder="Insira o nome da função..."
                                matInput [matAutocomplete]="auto3" ngModel required>
                            <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displayAutocompleteFuncao">
                                <mat-option 
                                    *ngFor="let funcao of filtroFuncoes | async" [value]="funcao">
                                    {{funcao.nome}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 pt-4">
                        <mat-progress-bar *ngIf="executandoRequisicao"
                            class="example-margin"
                            color="accent"
                            mode="query">
                        </mat-progress-bar>
                    </div>
                    <div class="col-md-3 offset-md-1">
                        <button mat-raised-button type="reset" class="m-2"> Limpar </button>
                        <button mat-raised-button color="accent" type="submit"  class="m-2"> Concluir </button>
                    </div>
                </div>
            </form>
            <br>
        </div>
    </div>
</main>


<!-- <main>
    <div class="container bodyView">
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-5 bodyCadastro">
                <h2> Cadastrar Novo Subgrupo </h2>
                <form>
                    <div class="form-group">
                        <label class="labelForm" for="nomeSubgrupo"> Nome do Subgrupo: </label>
                        <input type="text" class="form-control inpForm" id="nomeAtividade" name="nomeAtividade" placeholder="Digite aqui o nome da atividade...">
                    </div>
                    <div class="form-group">
                        <label class="labelForm" for="funcaoSubgrupo"> Função do Subgrupo: </label>
                        <select class="form-control inpForm" id="funcaoSubgrupo" name="funcaoSubgrupo">
                            <option value="0"> Função 1 </option>
                            <option value="1"> Função 2 </option>
                            <option value="2"> Função 3 </option>
                        </select>
                    </div>

                    <input type="reset" class="btn btn-secondary m-2" value="Limpar">
                    <button type="button" class="btn btn-success m-2" id="cadastrarAtividade"> Concluir </button>
                </form>
            </div>
        </div>
    </div>
</main> -->
