<main style="min-height: 475px;">
    <div>
        <mat-form-field style="width: 100%;padding-right:25px;padding-left:25px;">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Faça sua pesquisa aqui (Nome ou CNPJ) . . .">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource">

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th class="head-text-style" mat-header-cell *matHeaderCellDef style="width: 8%" > ID </th>
                <td mat-cell style=" border-left: 1px solid rgb(209, 209, 209);" *matCellDef="let row"> {{row.codEmpresa}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th class="head-text-style" mat-header-cell *matHeaderCellDef style="width: 25%"> Nome </th>
                <td mat-cell *matCellDef="let row"> {{row.nome}} </td>
            </ng-container>

            <!-- CNPJ Column -->
            <ng-container matColumnDef="cnpj">
                <th class="head-text-style" mat-header-cell *matHeaderCellDef style="width: 25%"> CNPJ </th>
                <td mat-cell *matCellDef="let row"> {{row.cnpj}} </td>
            </ng-container>

            <!-- Telephones Column -->
            <ng-container matColumnDef="telefones">
                <th class="head-text-style" mat-header-cell *matHeaderCellDef style="width: 15%"> Telefones </th>
                <td mat-cell *matCellDef="let row"> 
                    <span *ngIf="row.telefone1"> {{row.telefone1}} </span> <br>
                    <span *ngIf="row.telefone2"> {{row.telefone2}} </span> 
                </td>
            </ng-container>

            <!-- Payment Column -->
            <ng-container matColumnDef="payment">
                <th class="head-text-style" mat-header-cell *matHeaderCellDef style="width: 15%; border-right: 1px solid rgb(209, 209, 209);"> Tipo de Pagamento </th>
                <td style=" border-right: 1px solid rgb(209, 209, 209);" mat-cell *matCellDef="let row"> 
                    {{ row.tipoPgto }}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator  class="paginator-style" [pageSizeOptions]="[6, 10, 20, 30]"></mat-paginator>
    </div>
</main>