<main>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Digite aqui seu filtro...">
    </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

            <!-- ID Column -->
            <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef style="width: 10%"> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.codSubgrupo}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef style="width: 25%"> Nome </th>
            <td mat-cell *matCellDef="let row"> {{row.nome}} </td>
            </ng-container>

            <!-- Funcao Column -->
            <ng-container matColumnDef="funcao">
            <th mat-header-cell *matHeaderCellDef style="width: 50%"> Função </th>
            <td mat-cell *matCellDef="let row"> {{row.nomefuncao}} </td>
            </ng-container>

            <!-- Operations Column -->
            <ng-container matColumnDef="operations">
                <th mat-header-cell *matHeaderCellDef style="width: 15%">  </th>
                <td mat-cell *matCellDef="let row">
                    <button mat-button (click)="visualizar(row.codSubgrupo)" >
                        <img src="../../assets/img/list.svg" style="height: 15px;pointer-events: none;">
                    </button>
                    <button mat-button (click)="editar(row.codSubgrupo)">
                        <img src="../../assets/img/pencil.svg" style="height: 14px;">
                    </button>
                    <button mat-button (click)="deletar(row.codSubgrupo)">
                        <img src="../../assets/img/trash.svg" style="height: 15px;">
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20, 30]"></mat-paginator>
    </div>
    <div id="button-container">
        <button mat-fab color="accent" routerLink="/subgrupos/novo">+</button>
    </div>
</main>


<!-- <main>
    <div class="container bodyView">
        <div class="row">
            <div class="col-md-10">
                <input type="text" class="form-control inpForm" [(ngModel)]="dataInput" placeholder="Digite aqui o termo a ser buscado...">
            </div>
            <div class="col-md-2">
                <a routerLink="/subgrupos/novo" class="btn btn-success mx-auto">Cadastrar</a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Nome </th>
                                <th> Código Função </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let subgrupo of subgrupos | subgrupo: dataInput">
                                <td>{{subgrupo.codSubgrupo}}</td>
                                <td>{{subgrupo.nome}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main> -->