<main style="min-height: 500px;">

    <mat-form-field style="width: 81%;padding-right:25px;padding-left:25px;">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Faça sua pesquisa aqui . . ."/>
    </mat-form-field>
    <button class="botao-atualizar" matTooltip="Atualizar lista de Atividades" matTooltipPosition="before" matTooltipClass="tooltip-custom-class" (click)="Alert_att()" (click)="carregarDadosTabela()"><img src="assets/img/refresh.png" alt="Atualizar"></button> 
    <button class="botao-cadastar" matTooltip="Cadastrar Nova Atividade" matTooltipPosition="after" matTooltipClass="tooltip-custom-class" data-toggle="popover">
        <button mat-fab type="button" class="open-close-button" data-toggle="collapse" data-target="#Nova-atividade" aria-expanded="false" aria-controls="collapseExample"></button>
    </button>
    <div class="collapse" style="margin-bottom: 30px;" id="Nova-atividade">
        <div class="card">
            <app-nova-atividade></app-nova-atividade>
        </div>
    </div>
    <div class="div-style">
        <table mat-table [dataSource]="dataSource">

            <!-- ID Column -->
            <ng-container matColumnDef="id">
            <th class="head-text-style" [hidden]="1" mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell [hidden]="1" *matCellDef="let row"> {{row.codAtividade}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
            <th class="head-text-style" mat-header-cell *matHeaderCellDef style="width: 12%;padding-left: 3%;"> Nome </th>
            <td mat-cell style="padding-left: 3%;" *matCellDef="let row"> {{row.nome}} </td>
            </ng-container>

            <!-- Description Column -->
            <ng-container matColumnDef="descricao">
            <th class="head-text-style" mat-header-cell *matHeaderCellDef style="width: 40%"> Descrição </th>
            <td mat-cell style="text-align:justify;overflow-x: scroll;white-space: nowrap;max-width: 1vw" *matCellDef="let row"> {{row.descricao}} </td>
            </ng-container>

            <!-- Operations Column -->
            <ng-container matColumnDef="operations">
                <th class="head-text-style" mat-header-cell *matHeaderCellDef style="width: 3% ;padding-left: 13px !important;"> Operações </th>
                <td mat-cell style="padding-left: 2%;" *matCellDef="let row">
                    <div class="operation_button">
                        <button mat-button (click)="visualizar(row.codAtividade)" >
                            <img class="operation_img" src="assets/img/list.svg">
                        </button>
                        <button mat-button (click)="editar(row.codAtividade)">
                            <img class="operation_img" src="assets/img/pencil.svg">
                        </button>
                        <!-- <button mat-button (click)="deletar(row.codAtividade)">
                            <img class="operation_img" src="../../assets/img/trash.svg">
                        </button> -->
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>
        <mat-paginator class="paginator-style" [pageSizeOptions]="[6, 10, 20, 30]"></mat-paginator>
    </div>
</main>