<mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong>Especialidades do médico</strong>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-especialidades-medico></app-especialidades-medico>
        <mat-action-row>
            <button mat-button style="margin-right:4%" type="button" color="primary" (click)="nextStep()">Cadastro de especialidades</button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
           <strong>Cadastro de Especialidades</strong>
        </mat-expansion-panel-header>   
        <app-cadastro-especialidade></app-cadastro-especialidade>
    </mat-expansion-panel>


</mat-accordion>