<form>
    <!-- <div class="form-group">
        <label class="bmd-label-floating" >Empresa</label>
        <input type="text" class="form-control" id="nomePaciente" required>
        <div class="invalid-feedback"></div >
    </div> -->
    <!-- <div class="form-group">
        <label class="bmd-label-floating">função</label>
        <textarea class="form-control" d="Exame" rows="3"></textarea>
    </div> -->
    <div class="col-auto my-3">
        <label class="mr-sm-2" for="inlineFormCustomSelect">Empresa:</label>
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Selecionar Empresa...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        </select>
    </div>
    <div class="col-auto my-3">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Função:</label>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
            <option selected>Selecionar Função...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            </select>
        </div>
    <div class="col-auto my-3">
        <label class="mr-sm-2" for="inlineFormCustomSelect">Subgrupo:</label>
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Selecionar subgrupo...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        </select>
    </div>
    <div class="col-auto my-3" style="border-radius: 5px; padding: 5px ; background-color: rgba(9, 78, 56, 0.288)">
        <h6 >Exames:</h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">EAG</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">ECG</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <label class="form-check-label" for="inlineCheckbox3">Audiometria</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <label class="form-check-label" for="inlineCheckbox3">Próstata</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <label class="form-check-label" for="inlineCheckbox3">Sangue</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <label class="form-check-label" for="inlineCheckbox3">Sangue</label>
        </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                <label class="form-check-label" for="inlineCheckbox3">Sangue</label>
            </div>
    </div>
    <div class="container my-3">
        <h6>Selecionar data e hora</h6>
        <div class="form-group" style="padding-top: 0px !important;">
            <label for="example-datetime-local-input"></label>
            <div>
                <input class="form-control" type="datetime-local" id="example-datetime-local-input">
            </div>
        </div>
    </div>
</form>
    
