<main>
    <div class="row" style="margin:0px ;margin-left:0;margin-right:0;padding: 0px;margin-top: 20px;">
        <h5 style="margin-left:20px ;"> Preencha todos os campos para cadastrar a nova Empresa :</h5>
        <div class="col-md-12 bodyCadastro">
            <form [formGroup]="formularioNovaEmpresa" (ngSubmit)="createEmpresa()">
                <div class="form-group row">
                    <div class="col-md-4">
                        <mat-form-field>
                            <input  
                                type="text" 
                                id="nomeEmpresa" 
                                name="nomeEmpresa" 
                                placeholder="Nome" 
                                autocomplete="off" 
                                maxlength="50" 
                                formControlName="nome" 
                                matInput 
                            />
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <input 
                                type="text" 
                                id="cnpjEmpresa" 
                                name="cnpjEmpresa" 
                                placeholder="CNPJ" 
                                autocomplete="off" 
                                maxlength="18" 
                                formControlName="cnpj" 
                                matInput
                            />
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <input 
                                type="text" 
                                id="ruaEmpresa" 
                                name="ruaEmpresa" 
                                placeholder="Rua"
                                autocomplete="off" 
                                maxlength="80" 
                                formControlName="rua" 
                                matInput
                            />
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group row" style="margin-top: 0px;padding-top: 0px;">
                    <div class="col-md-4">
                        <mat-form-field>
                            <input 
                                type="number" 
                                id="numeroEmpresa" 
                                name="numeroEmpresa" 
                                placeholder="Número"
                                autocomplete="off" 
                                min="0"
                                max="9999" 
                                maxlength="5"
                                formControlName="numero" 
                                matInput
                            />
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field> 
                            <input 
                                type="text" 
                                id="cepEmpresa" 
                                name="cepEmpresa" 
                                placeholder="CEP"
                                autocomplete="off" 
                                maxlength="10" 
                                formControlName="cep" 
                                matInput
                            />
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <input 
                                type="text" 
                                id="cidadeEmpresa" 
                                name="cidadeEmpresa" 
                                placeholder="Cidade"
                                autocomplete="off" 
                                maxlength="30" 
                                formControlName="cidade" 
                                matInput
                            />
                        </mat-form-field>  
                    </div>
                </div>
                <div class="form-group row" style="margin-top: 0px;padding-top: 0px;">
                    <div class="col-md-4">
                        <mat-form-field>
                            <input 
                                type="text" 
                                id="bairroEmpresa" 
                                name="bairroEmpresa" 
                                placeholder="Bairro"
                                autocomplete="off" 
                                maxlength="30" 
                                formControlName="bairro" 
                                matInput
                            />
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field> 
                            <input 
                                type="text" 
                                id="estadoEmpresa" 
                                name="estadoEmpresa" 
                                placeholder="Estado" 
                                maxlength="2" 
                                style="text-transform: uppercase;"
                                autocomplete="off"
                                formControlName="estado" 
                                matInput
                            />
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <input 
                                type="text" 
                                id="telefone1Empresa" 
                                name="telefone1Empresa" 
                                placeholder="Telefone 1"
                                autocomplete="off" 
                                maxlength="15" 
                                formControlName="telefone1" 
                                matInput
                            />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row form-group" style="margin-top: 0px;padding-top: 0px;">        
                    <div class="col-md-4">
                        <mat-form-field>
                            <input 
                                type="text" 
                                id="telefone2Empresa" 
                                name="telefone2Empresa" 
                                placeholder="Telefone 2"
                                maxlength="15" 
                                autocomplete="off"
                                formControlName="telefone2" 
                                matInput
                            />
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label> Pagamento </mat-label>
                            <mat-select formControlName="tipoPgto" id="pgtoEmpresa" name="pgtoEmpresa">
                                <mat-option [value]="0"> À vista </mat-option>
                                <mat-option [value]="1"> Fatura </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <mat-progress-bar *ngIf="executandoRequisicao"
                            class="example-margin"
                            color="accent"
                            mode="query">
                        </mat-progress-bar>
                    </div>
                    <div class="col-md-4">
                        <mat-progress-bar *ngIf="executandoRequisicao"
                            class="example-margin"
                            color="accent"
                            mode="query">
                        </mat-progress-bar>
                    </div>
                    <div class="col-md-4">
                        <button mat-raised-button type="reset" class="mx-2"> Limpar </button>
                        <button mat-raised-button style="background-color: #53b800;color: white;" type="submit"  class="m-1"> Concluir </button>
                    </div>
                </div>
            </form>
            <br>
        </div>
    </div>
</main>
