p{ 
    color:#003334;
    font-weight: bold;
}
input{
    background-color: transparent;
    border:1px solid transparent;
}
.noCode{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.noCode>p{
	margin-top:10rem;
	font-weight:bold;
	font-size:3rem;
}
#major-box{
    width:900px;
    margin:1rem auto;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.logo{
    width: 15rem ;
    height: 15rem;
    padding:1rem;
}
.logoASO{
    width: 26rem ;
    height: 10rem;
    padding:2rem;
}
.p-header{
	padding:0%;
	margin:0%;
	color:#003334;
	font-weight:bold;
	font-size:1.1rem;
}
/*------General styiling section------*/
.new-section{
    text-align: center;
}
.new-section>p{
	background-color:#003334;
	color:white;
	box-sizing: border-box;
    width:100%;
    height:auto;
    padding:0%;
	margin:0%;
    border:1px solid #003334;
}
.new-data{
    text-align: left;
    justify-content: start;
    align-items: flex-start;
}
.new-data>div{
    padding:0.25rem;
    border:1px solid #003334;
}
/*------------Empresa-----------------*/
.empresa-last-row{
    display: flex;
    justify-content: space-around;
}
/*-------Paciente---------*/
.paciente-row{
    display: flex;
}
.paciente-row>div{
    width:35%;
}
.paciente-row>form{
    width:65%;
}
.form-paciente{
    display: flex;
    justify-content: space-between;
}
/*-------------Tipo consulta--------------*/
.new-data-tp{
    display: flex;
    justify-content: space-between;
    border:1px solid #003334;
}
/*------------------Riscos-----------------------*/
.new-data-ri{
    border:1px solid #003334;
}
.box-risco{
    display: flex;
    width: auto;
}
.new-data-ri>div{
    border:1px solid #003334;
}
.new-data-ri>div>p{
	color:#003334;
}

.div-outros{
    border:1px solid #003334;;
}
.div-outros>span{
    color:  #003334;
    font-weight: bold;
    font-size: 1.1rem;

}
.div-outros>input{
    width:20rem;
}
.box-risco-content{
    
    justify-content: center;
    text-align: center;
    align-items: center;
}
.span-risco{
	padding:0 0.1rem;
}
/*-------------------Exame--------------------------*/
.new-data-ex{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.new-data-ex>div{
    border:1px solid #003334;
}
/*--------------------Parecer---------------------------*/
.new-data-pa{
    border:1px solid #003334;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.new-data-pa>div{
    border:1px solid #003334;
}
/*---------------------OBS------------------------------*/
.bottom-obs{
    display: flex;
    justify-content: flex-end;
    border:1px solid #003334;
    padding:0.5rem;
}
/*--------------------Assinaturas------------------------*/
.assinaturas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top:1rem;
}
/*----------------------Actions----------------------------*/
.actions{
    display: flex;
    justify-content: center;
    margin:3rem 0rem;
}
.actions>button{
    background-color: #003334;
    color:white;
    width:8rem;
    height: 3rem;
    border:none;
    border-radius: 10px;
    outline:none;
}



