<main>
	<div *ngIf="executandoRequisicao">
		<mat-progress-bar class="example-margin" color="accent" mode="query">
		</mat-progress-bar>
	</div>
	<div *ngIf="!executandoRequisicao">
		<div class="general-box">
			<mat-accordion>
				<mat-expansion-panel [expanded]="!executandoRequisicao">
					<mat-expansion-panel-header>
						<strong>Dados do relatório:</strong>
					</mat-expansion-panel-header>
					<div class="col-auto my-3"
						style="border-radius: 5px; padding: 5px ; background-color: rgba(24, 134, 99, 0.288)">
						<form [formGroup]="dados">
							<div class="box-info general-box">

								<mat-form-field class="inputForms" style="width: 100%;">
									<input (click)="filtrarFuncao()" formControlName="funcao" type="text"
										placeholder="Insira o nome da função..." matInput [matAutocomplete]="auto3"
										ngModel required />
									<mat-autocomplete #auto3="matAutocomplete"
										[displayWith]="displayAutocompleteFuncao">
										<mat-option *ngFor="let funcao of filteredFuncao | async" [value]="funcao">
											{{funcao.nome}} - {{funcao.descricao}}
										</mat-option>
									</mat-autocomplete>
								</mat-form-field>

								<mat-form-field class="example-full-width">
									<mat-label>Setor</mat-label>
									<input formControlName="setor" matInput />
								</mat-form-field>

								<mat-form-field class="example-full-width">
									<mat-label>Risco</mat-label>
									<input formControlName="risco" matInput />
								</mat-form-field>

								<mat-form-field class="example-full-width">
									<mat-label>Telefone</mat-label>
									<input formControlName="telefone" matInput />
								</mat-form-field>

								<mat-form-field class="example-full-width">
									<mat-label>Nome do médico</mat-label>
									<input formControlName="nome" matInput />
								</mat-form-field>

								<mat-form-field class="example-full-width">
									<mat-label>CRM</mat-label>
									<input formControlName="crm" matInput />
								</mat-form-field>

								<!--<div>Imagem: <input [formControl]="dados.value.image"
										style="background-color: transparent;" (change)="onAdd($event)" type="file" />
								</div>--->

							</div>
							<div class="new-data-ri">
								<div class="box-risco" *ngFor="let ct of categoriaRisco">
									<p style="font-weight: bolder;">{{ct.nome}}: </p>
									<div style="margin:0.5rem 0rem" class="box-risco-content" *ngFor="let ri of riscos">
										<p style="margin:0rem 0.1rem;" (click)="deleteRisco(ri.codRisco)" class="p-risco-choose"
											*ngIf="ct.codCategoriaRisco==ri.codCategoriaRisco">
											{{ri.selected?ri.risco:null}}
										</p>
									</div>
									<div style="display: flex;">
										<input formControlName="inputRisco" class="input-riscos" />
										<button class="insertRiscoButton"
											(click)="insertText(ct.codCategoriaRisco)">Inserir
										</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</mat-expansion-panel>
			</mat-accordion>
		</div>
	</div>
	<div #content>

		<div class="general-box">
			<div class="topo">
				<img src="assets/img/labmedlogo.jpg">
				<p style="margin:0;padding:0">
					ASO - Atestado De Saúde Ocupacional
				</p>
				<div>
					<p>Clínica Labmed Nova Friburgo</p>
					<p>31.521.239/0001-30</p>
					<p>Nova Friburgo</p>
					<p>Rua Coronel João Teixeira</p>
					<p>Conselheiro Paulino</p>
					<p> (22) 2580-3618</p>
				</div>
				<!--<img *ngIf="dados.value.image" src="{{dados.value.image}}">--->
			</div>
		</div>

		<section class="section-content">
			<div class="general-box">
				<div>
					<strong class="title">Empresa</strong>
				</div>
			</div>
			<div class="general-box">
				<div class="row1">
					<div>Razão Social: <strong> {{empresa.nome}}</strong></div>
				</div>
				<div class="row2">
					<div>CNPJ: {{empresa.cnpj}}</div>
					<div>Risco {{dados.value.risco}}</div>
					<div>Cidade: {{empresa.cidade}} / {{empresa.estado}}</div>
				</div>
				<div class="row2">
					<div>Endereço: {{empresa.rua}}, N°: {{empresa.numero}}</div>
					<div>Bairro: {{empresa.bairro}}</div>
					<div>CEP: {{empresa.cep}}</div>
				</div>
			</div>

		</section>
		<section class="section-content">
			<div class="general-box">
				<div>
					<strong class="title">Funcionário</strong>
				</div>
			</div>
			<div class="general-box">
				<div class="row1">
					<div>Nome: <strong> {{paciente.nome}}</strong></div>
				</div>
				<div class="row2">
					<div>CPF: {{paciente.cpf}}</div>
					<div>RG: {{paciente.rg}}</div>
					<div>Nascimento / Idade: {{paciente.nascimento| date:'dd/MM/yyyy'}} - {{age}}</div>
				</div>
				<div class="row2">
					<div>Função: {{dados.value.funcao.nome}}</div>
					<div>Setor: {{dados.value.setor}}</div>
				</div>
				<div class="row2">
					<div>Telefone: {{dados.value.telefone}}</div>
					<div>Sexo: {{paciente.sexo==="M"?"Masculino":"Feminino"}}</div>
				</div>
			</div>
		</section>
		<section class="section-content">
			<div class="general-box">
				<div>
					<strong class="title">Médico Coordenador do PCMSO</strong>
				</div>
			</div>
			<div class="general-box">
				<div class="row2">
					<div>Nome: {{dados.value.nome}}</div>
					<div>CRM: {{dados.value.crm}}</div>
				</div>
			</div>
		</section>
		<section class="section-content">
			<div class="general-box">
				<div>
					<strong class="title">Riscos</strong>
				</div>
			</div>
			<div class="general-box">
				<div class="new-data-ri">
					<div class="box-risco" *ngFor="let ct of categoriaRisco">
						<p style="font-weight: bolder;">{{ct.nome}}: </p>
						<div class="box-risco-content" *ngFor="let ri of riscos">
							<p style="margin:0rem 0.1rem" *ngIf="ct.codCategoriaRisco==ri.codCategoriaRisco">{{ri.selected?ri.risco+",":null}}</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section-content">
			<div class="general-box">
				<div>
					<strong class="title">EM CUMPRIMENTO ÀS PORTARIAS N° 3214/78,3164/82,12/83, 24/94 NR7 DO MINISTÉRIO DO TRABALHO E
						EMPREGO PARA FINS DE EXAME:</strong>
				</div>
			</div>
			<div class="general-box">
				<div>
					<div class="title" *ngFor="let tp of tipoconsulta">{{tp.nome===consulta.tipo_consulta?tp.nome:null}}</div>
				</div>
			</div>
		</section>
		<section class="section-content">
			<div class="general-box">
				<div>
					<strong class="title">Avaliação clínica e exames realizados:</strong>
				</div>
			</div>
			<div class="general-box">
				<div class="box-exames">
					<div class="new-data-ex">
						<div *ngFor="let ex of examesConsulta">
							<div class="row-exames">
								<p>__/__/__ </p>
								<p>{{ex.codigo}} {{ex.nome}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>
		<section class="section-content">
			<div class="general-box">
				<div>
					<strong class="title" >Parecer:</strong>
				</div>
			</div>
			<div class="general-box">
				<div class="box-parecer">
					<div class="new-data-pa">
						<div *ngFor="let pa of pareceres">
							<p class="pa-p"><span class="span-pa"
									style="margin-right: 0.5rem;">[</span><span>]</span>
								{{pa.nome}}</p>
						</div>
					</div>
				</div>
			</div>

		</section>
		<section class="section-content">
			<div class="general-box">
				<div>
					<strong class="title">Validade:</strong>
				</div>
			</div>
			<div class="general-box">
				Válido por __ meses
			</div>
		</section>
		<div class="assinaturas">
			<div>
				<p>___/____/___
				<p>
				<p>
					_______________________________________________
				</p>
				<p>Médico coordenador/Examinador</p>
				<p>Assinatura e carimbo</p>
			</div>
			<div>
				<p>___/____/___
				<p>
				<p>Eu, abaixo assinado, declaro que fui submetido
					ao exame médico acima especificado nesta data.(Portaria 3214 NR-7 item 7.4.4)
				</p>
				<p>_______________________________________________</p>
				<p>{{paciente.nome}}</p>
			</div>
		</div>
	</div>
	<div class="actions">
		<button (click)="gerarPdf()">Gerar pdf</button>
	</div>
</main>