<h1 mat-dialog-title style="text-align: center">
        {{acaoModal}} SUBGRUPO
    </h1>
    
    <div mat-dialog-content *ngIf="acaoModal!=='DELETAR'">
        <form [formGroup]="formularioSubgrupo" *ngIf="formularioSubgrupo" (ngSubmit)="editarSubgrupo()">
            <div class="form-group row" style="margin-left: 10% ;padding: 0px;">
                <div class="col-md-4 mx-auto">
                    <input  
                        type="hidden" 
                        id="codigoSubgrupo" 
                        name="codigoSubgrupo"
                        formControlName="codigo"
                    />
                    <mat-form-field>
                        <input  
                            type="text" 
                            id="nomeSubgrupo" 
                            name="nomeSubgrupo" 
                            placeholder="Nome" 
                            autocomplete="off" 
                            maxlength="50" 
                            formControlName="nome" 
                            matInput 
                        />
                    </mat-form-field>
                </div>
                <div class="col-md-8 mx-auto">
                    <mat-form-field class="inputForms" style="width: 80%;">
                        <input formControlName="funcao" (click)="filtrarFuncao()" type="text" placeholder="Insira o nome da função..."
                            matInput [matAutocomplete]="auto3" ngModel required>
                        <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displayAutocompleteFuncao">
                            <mat-option 
                                *ngFor="let funcao of filtroFuncoes | async" [value]="funcao">
                                {{funcao.nome}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <!---<mat-form-field  style="width: 300px ">
                        <input
                            type="text"
                            placeholder="Função"
                            name="funcaoSubgrupo"
                            [matAutocomplete]="auto"
                            formControlName="funcao"
                            (keyup)="applyFilter($event.target.value)"
                            matInput
                        />
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let funcao of filtroFuncoes" [value]="funcao.codFuncao">
                                {{funcao.nome}} <span style="color:#d3d3d3;">( Cod:&nbsp;{{funcao.codFuncao}} ) </span>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>---->
                </div>
            </div>
            <div class="row" style="padding: 0px;margin: 0px;">
                <div class="col-md-8 pt-4">
                    <mat-progress-bar *ngIf="executandoRequisicao"
                        class="example-margin"
                        color="accent"
                        mode="query">
                    </mat-progress-bar>
                </div>
                <div class="col-md-4">
                    <button mat-raised-button *ngIf="acaoModal==='EDITAR'" style="background-color: #53b800;color: white;" class="mr-2 mt-1" type="submit" > Concluir </button>
                    <button mat-raised-button *ngIf="acaoModal==='VISUALIZAR'" style="background-color: #53b800;color: white;" class="mr-2 mt-1" (click)="toggleMode('EDITAR')" type="button"> Editar </button>
                    <button mat-raised-button color="warn" class="mx-auto" (click)="onNoClick()" type="button"> Fechar </button>
                </div>
            </div>
        </form>
    </div>
    
    <div mat-dialog-content *ngIf="acaoModal=='DELETAR'">
        <p>
            Esta ação é <strong>irreversível</strong>! <br>
            Deseja deletar esse subgrupo ?
        </p>
    </div>
    
    <div mat-dialog-actions *ngIf="acaoModal=='DELETAR'" class="row">
        <button mat-raised-button color="warn" class="mx-auto" (click)="deletarSubgrupo()" type="button"> Confirmar </button>
        <button mat-raised-button  class="mx-auto mb-3" (click)="onNoClick()" type="button"> Cancelar </button>
    </div>