
<mat-sidenav-container>
 <mat-sidenav mode="push" [(opened)] = "opened">
        <mat-nav-list style="position: relative;top: 45%;transform: translateY(-50%); ">
            <!-- <img style="width:180px ;position: relative;margin-bottom: 20px ; background-color: white" src="../../assets/img/Logo.png"><img> -->
        
            <div style="height: 1px;width:100%;background-color:white"></div>

            <a mat-list-item data-toggle="modal" data-target="#empresas" >
                <img src="../../assets/img/empresas.svg" style="height: 20px;">
                &nbsp;EMPRESAS 
            </a>
            <a mat-list-item data-toggle="modal" data-target="#funcoes">
                <img src="../../assets/img/funcoes.svg" style="height: 20px;">
                &nbsp;FUNÇÕES
            </a>
            <a mat-list-item data-toggle="modal" data-target="#atividades"> 
                <img src="../../assets/img/atividades.svg" style="height: 20px;">
                &nbsp;ATIVIDADES
            </a>
            <a mat-list-item data-toggle="modal" data-target="#subgrupos" > 
                <img src="../../assets/img/subgrupos.svg" style="height: 20px;">
                &nbsp;SUBGRUPOS 
            </a>
            <a mat-list-item data-toggle="modal" data-target="#pacientes" > 
                <img src="../../assets/img/pacientes.svg" style="height: 20px;">
                &nbsp;PACIENTES 
            </a>
            <a mat-list-item data-toggle="modal" data-target="#medicos" > 
                <img src="../../assets/img/medicos.svg" style="height: 20px;">
                &nbsp;PROFISSIONAIS 
            </a>
            <a mat-list-item data-toggle="modal" data-target="#exames" > 
                <img src="../../assets/img/exames.svg" style="height: 20px;">
                &nbsp;EXAMES 
            </a>
            <a mat-list-item data-toggle="modal" data-target="#riscos" > 
                <img src="../../assets/img/exames.svg" style="height: 20px;">
                &nbsp;RISCOS
            </a>
             <a mat-list-item data-toggle="modal" data-target="#parecer" > 
                <img src="../../assets/img/exames.svg" style="height: 20px;">
                &nbsp;PARECER
            </a>
        </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content>
        <header>
            <nav class="navbar text-center navbar-main" >
                <button id="botaoToggler" class="" type="button" (click)="toggle()">
                    <span class="sidenav-toggler-icon">
                        <img id="imgToggler" src="../../assets/img/menuIcone.png">
                    </span>
                </button>
                <a mat-list-item style=" position: fixed;margin-left: 50px ;font-weight: 900;font-size:20px">
                    LabMed 
                </a>
            
                <ul class="nav nav-pills" id="Controler">
                    <li class="nav-item">
                        <a class="main-nav-link" mat-list-item routerLink="inicio" >Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="main-nav-link" mat-list-item routerLink="agendados">Agendados</a>
                    </li>
                    <li class="nav-item">
                       <a class="main-nav-link" data-toggle="modal" routerLink="" data-target="#agendamento">Pré-Agendar</a>
                    </li>
                </ul>
            </nav>
        </header>
        
        <div style="height: 200; margin-top: 60px ">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<!------------------------------------- Modal Pre-agendamento -------------------------------------->
<div class="modal fade" id="agendamento"   role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div style="width:575px" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">AGENDAR CONSULTA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-preagendar></app-preagendar>
            </div>
        </div>
    </div>
</div>

<!------------------------------------- Modal Paciente -------------------------------------->

<div class="modal fade" id="pacientes"   role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><img src="../../assets/img/pacientes.svg" style="height: 20px;"> PACIENTES</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-pacientes></app-pacientes>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
    <!------------------------------------- Modal medicos -------------------------------------->

<div class="modal fade" id="medicos"   role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><img src="../../assets/img/medicos.svg" style="height: 20px;"> PROFISSIONAIS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-profissionais></app-profissionais>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

    <!------------------------------------- Modal funções -------------------------------------->

<div class="modal fade" id="funcoes"   role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><img src="../../assets/img/funcoes.svg" style="height: 20px;"> FUNÇÕES</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-funcoes></app-funcoes>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

    <!------------------------------------- Modal subgrupos -------------------------------------->

<div class="modal fade" id="subgrupos"   role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> <img src="../../assets/img/subgrupos.svg" style="height: 20px;"> SUBGRUPOS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-subgrupos></app-subgrupos>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

    <!------------------------------------- Modal exames -------------------------------------->

    <div class="modal fade" id="exames"   role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered  modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><img src="../../assets/img/exames.svg" style="height: 20px;"> EXAMES</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <app-exames></app-exames>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

    <!------------------------------------- Modal atividades -------------------------------------->

<div class="modal fade" id="atividades"   role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><img src="../../assets/img/atividades.svg" style="height: 20px;"> ATIVIDADES</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-atividades></app-atividades>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

    <!------------------------------------- Modal empresas -------------------------------------->

<div class="modal fade" id="empresas" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><img src="../../assets/img/empresas.svg" style="height: 20px;"> EMPRESAS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-empresas></app-empresas>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
    <!------------------------------------- Modal Riscos -------------------------------------->

<div class="modal fade" id="riscos" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><img src="../../assets/img/empresas.svg" style="height: 20px;"> RISCOS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-riscos></app-riscos>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!------------------------------------- Modal Parecer -------------------------------------->

<div class="modal fade" id="parecer" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><img src="../../assets/img/empresas.svg" style="height: 20px;"> PARECER</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-parecer></app-parecer>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>