::ng-deep .tooltip-custom-class {
  font-size: 13px;
}
.botao-cadastar{
    border-radius: 100%;
    border: transparent;
    background-color: transparent ;
    padding-right: 4px;
    display:inline-flex;
    padding-bottom: 15px ;
    margin-left:5%;
  }
  .mat-fab{
  background-color: #53b800;
  }
  
.open-close-button {
  display: flex;
  width:  0.75em;
  height: 0.75em;
  border: 16px solid transparent;
  top: 12px;
  font-size: 65px;
  border-radius: 50%;
  position: relative;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.open-close-button:before {
  content: "";
  display: block;
  position: absolute;
  background-color: white;
  width: 80%;
  height: 6%;
  left: 10%;
  top: 47%;
}
.open-close-button:after {
  content: "";
  display: block;
  position: absolute;
  background-color: white;
  width: 6%;
  height: 80%;
  left: 47%;
  top: 10%;
}
.open-close-button.open {
  background-color: #c9353b;
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}
.open-close-button.open:after {
  background-color: #f7f5f5;
}
.open-close-button.open:before {
  background-color: #f7f5f5;
}
/*---------------Stepper--------------*/
.div-button-stepper{
  display: flex;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
}
.div-button-stepper>button{
  color:white;
  background-color: #53b800;
  margin-top:2rem;
  margin-right:1rem
}
select{
  background-color:#bcdcd2 ;
  border:1px solid grey
}
.content{
  padding:1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color:#bcdcd2;
}
.box-title{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom:1rem;
}
.box-title>h5{
  font-weight: bold;
}
.box-info{
  width: 100%;
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
}
.box-exames{
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.column1{
  flex:60%;
}
.column2{
  flex:40%;
}

.exame-checkbox{
  padding:5px;
  display: inline-block;
  width: 50%!important;
  text-align: center;
  vertical-align: center;
}
.box-exames{
  width:100%;
  word-break: keep-all;
}