<main id="cards-container">
    <div class="cards">
        <div class="icon-container">
            <img src="assets/img/billing.png">
        </div>
        <div class="card-info">
            <h3> FATURAS </h3>
            <p> Criação, visualização e gerenciamento de faturas </p>

            <button mat-raised-button color="accent" type="submit" class="m-2" routerLink="fatura"> Acessar </button>
        </div>
    </div>
    <div class="cards">
        <div class="icon-container">
            <img src="assets/img/billing.png">
        </div>
        <div class="card-info">
            <h3>ASO</h3>
            <p> Criação, visualização e gerenciamento de PDF do ASO </p>

            <button mat-raised-button color="accent" type="submit" class="m-2" routerLink="aso"> Acessar </button>
        </div>
    </div>

</main>
