<main>
    <div class="row" style="margin:0px ;margin-left:0;margin-right:0;padding: 0px;margin-top: 20px;">
        <h5 style="margin-left:20px ;"> Preencha todos os campos para cadastrar o novo exame :</h5>
        <div class="bodyCadastro" style="margin-left:9%;">
            <form [formGroup]="formularioNovoExame" (ngSubmit)="createExame()">
                <div class="form-group row" style="margin:0px;padding: 0px;">
                    <div class="col-md-4">
                        <mat-form-field>
                            <input  
                                type="text" 
                                id="nomeExame" 
                                name="nomeExame" 
                                placeholder="Nome" 
                                autocomplete="off" 
                                maxlength="40" 
                                formControlName="nome" 
                                matInput 
                            />
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <input  
                                type="text" 
                                id="codigoExame" 
                                name="codigoExame" 
                                placeholder="Código" 
                                autocomplete="off"
                                formControlName="codigo" 
                                matInput 
                            />
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <input  
                                type="text" 
                                id="precoExame" 
                                name="precoExame" 
                                placeholder="Preço" 
                                autocomplete="off" 
                                onkeypress="mascara(this, '###############')"
                                maxlength="15"
                                formControlName="preco" 
                                matInput 
                            />
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group row" style="margin:0px;padding: 0px;">
                    <div class="col-md-12">
                        <mat-form-field>
                            <textarea
                                type="text" 
                                id="descricaoExame" 
                                name="descricaoExame" 
                                placeholder="Descrição" 
                                autocomplete="off"
                                formControlName="descricao" 
                                matInput 
                            ></textarea>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row" style="margin:0px;padding: 0px;">
                    <div class="col-md-4">
                        <mat-progress-bar *ngIf="executandoRequisicao"
                            class="example-margin"
                            color="accent"
                            mode="query">
                        </mat-progress-bar>
                    </div>
                    <div class="col-md-4">
                            <mat-progress-bar *ngIf="executandoRequisicao"
                                class="example-margin"
                                color="accent"
                                mode="query">
                            </mat-progress-bar>
                        </div>
                    <div class="col-md-4" style="margin:0px ; padding: 0px;">
                        <button mat-raised-button type="reset" class="mx-1"> Limpar </button>
                        <button mat-raised-button style="background-color: #53b800;color: white;" type="submit"  class="mx-1"> Concluir </button>
                    </div>
                </div>
            </form>
            <br>
        </div>
    </div>
</main>
