<main>
    <div class="container bodyView">
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-5 bodyCadastro">
                <h2> Cadastrar Novo Subgrupo </h2>
                <form>
                    <div class="form-group">
                        <label class="labelForm" for="nomeSubgrupo"> Nome do Subgrupo: </label>
                        <input type="text" class="form-control inpForm" id="nomeAtividade" name="nomeAtividade" placeholder="Digite aqui o nome da atividade...">
                    </div>
                    <div class="form-group">
                        <label class="labelForm" for="funcaoSubgrupo"> Função do Subgrupo: </label>
                        <select class="form-control inpForm" id="funcaoSubgrupo" name="funcaoSubgrupo">
                            <option value="0"> Função 1 </option>
                            <option value="1"> Função 2 </option>
                            <option value="2"> Função 3 </option>
                        </select>
                    </div>

                    <input type="reset" class="btn btn-secondary m-2" value="Limpar">
                    <button type="button" class="btn btn-success m-2" id="cadastrarAtividade"> Concluir </button>
                </form>
            </div>
        </div>
    </div>
</main>