<form class="example-form" [formGroup]="formularioDados"  (ngSubmit)="createMessage()">
  <!-- <div class="form-group">
      <label class="bmd-label-floating" >Empresa</label>
      <input type="text" class="form-control" id="nomePaciente" required>
      <div class="invalid-feedback"></div >
  </div> -->
  <!-- <div class="form-group">
      <label class="bmd-label-floating">função</label>
      <textarea class="form-control" d="Exame" rows="3"></textarea>
  </div> -->
  <!----<div class="col-auto my-3">
      <label class="mr-sm-2" for="inlineFormCustomSelect">Paciente:</label>
      <select formControlName="codPaciente" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
          <option *ngFor="let paciente of pacientes" [value]="paciente.codPaciente" >{{paciente.nome}}</option>
      </select>
  </div>---->
  <mat-form-field class="inputForms" >
        <input formControlName="codPaciente" type="text" placeholder="Insira o nome do paciente..." matInput [formControl]="pacienteControl" [matAutocomplete]="auto1" ngModel required>
        <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayAutocompletePaciente">
          <mat-option *ngFor="let paciente of filteredPacientes | async" [value]="paciente">
              {{paciente.nome}}
          </mat-option>
        </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="inputForms" >
        <input formControlName="codEmpresa" type="text" placeholder="Insira o nome da empresa..." matInput [formControl]="empresaControl" [matAutocomplete]="auto2" ngModel required>
        <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayAutocompleteEmpresa">
          <mat-option *ngFor="let empresa of filteredEmpresas | async" [value]="empresa">
              {{empresa.nome}}
          </mat-option>
        </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="inputForms" >
        <input formControlName="codFuncao" (keyup)="examesObrigatorios()" type="text" placeholder="Insira o nome da função..." matInput [formControl]="funcaoControl" [matAutocomplete]="auto3" ngModel required>
        <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displayAutocompleteFuncao">
          <mat-option (click)="examesObrigatorios()" *ngFor="let funcao of filteredFuncao | async" [value]="funcao">
              {{funcao.nome}}    
          </mat-option>
        </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="inputForms" >
    <input formControlName="codSubgrupo" type="text" placeholder="Insira o nome do sub grupo..." matInput [formControl]="subGrupoControl" [matAutocomplete]="auto4" ngModel required>
        <mat-autocomplete #auto4="matAutocomplete" [displayWith]="displayAutocompleteSubGrupo">
        <mat-option *ngFor="let subgrupo of filteredSubGrupo | async" [value]="subgrupo">
                {{subgrupo.nome}}    
            </mat-option>
        </mat-autocomplete> 
    </mat-form-field>
 
  <div class="col-auto my-3" style="border-radius: 5px; padding: 5px ; background-color: rgba(24, 134, 99, 0.288)">
      <h6 >Exames:</h6>
      <div *ngFor="let examesEscolhidos of exames" >
          <input type="checkbox" [(ngModel)]="examesEscolhidos.checked" [ngModelOptions]="{standalone: true}"  value="{{examesEscolhidos.codExame}}" />
          <label>{{examesEscolhidos.nome}}</label>
      </div> 
  </div>
  <div class="col-auto my-3" style="border-radius: 5px; padding: 5px ; background-color: rgba(24, 134, 99, 0.288)">
    <h6 >Tipo de consulta:</h6>
    <div *ngFor="let tipoConsulta of TipoConsulta" >
        <input type="checkbox" [(ngModel)]="tipoConsulta.checked" [ngModelOptions]="{standalone: true}"  value="{{tipoConsulta.codTipoConsulta}}" />
        <label>{{tipoConsulta.nome}}</label>
    </div> 
  </div>
  <div class="container my-3">
      <h6>Selecionar data e hora</h6>
      <div class="form-group" style="padding-top: 0px !important;">
          <label for="example-datetime-local-input"></label>
          <div>
              <input formNameControl="dataExame" class="form-control" type="datetime-local" [formControl]="dataControl" id="example-datetime-local-input">
          </div>
      </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-danger" data-dismiss="modal" >Cancelar</button>
      <button type="submit" class="btn btn-primary btn-raised">Agendar</button>
  </div>
</form>
